/* -------------主體區塊---------- */

@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);


        
              /* 導航條str */
        
        
              #nav-background{
        
                width:100%;
                height:60px;
                position: fixed;
                top:0;
                z-index:-1;
                background: rgb(0, 0, 0);
              
               
                }


                #rwd-hamberger{
    
                width:40px;
                height:40px;
                position: fixed;
                left:20px;
                top:30px;
                background:url(img/rwd-hamberger.png) ;
                background-size:cover; 
                display:none;
                }

              
        
           
            nav{
                margin-top:20px;
                width:100%;
                position: fixed;
                top:0;
                background:none;
                font-family: 'Noto Sans JP', sans-serif;
                z-index:200;
                
          
        
            }

            nav ul{

                margin-left:35%;
            }

         
        
            nav ul li{
        
                font-size:16pt;
                line-height:25px;
                width:130px;
                color:#fff;
                z-index:300;
                margin-left:50px;
             
          
             
             
        
            }
        
          
        
            nav ul li:hover{
        
                transition: 0.8s ease;
                -webkit-transition: 0.5s ease;
                color:rgba(255, 200, 0, 0.932);
                text-decoration: underline;
                cursor:pointer;
                
               
           
            }
        
            nav li{
                width:120px;
                list-style:none;
                float:left;
               margin-left:20%;
               z-index:300;
             background: none;
         
            }
        
            
        
            ul ul{
                width:50%;
                display:none;
            }
        
            ul li ul{
        
                margin-top:15px;
            }
        
            ul li ul li{
                margin-left:-50px;
                padding-top:30px;
                background:rgb(0, 0, 0);
                text-align:center;
                padding-bottom:50%;
              
            }
        
            ul li ul li:hover{
        
                transition: 1.5s ease;
                -webkit-transition: 1.5s ease;
                background: rgb(179, 17, 17);
                color:rgba(255, 200, 0, 0.932);
                cursor:pointer;
                
             
            }
               
        
            nav li:hover ,ul ul:hover{
        
                cursor:pointer;
               
            }
        
            #logo {
              
                 width:200px;
                background:none; 
                position:absolute;
                left:-0px;
                top:-20px;
             
              
        
            }
              /* 導航條end */


              /* rwd 1050px str */

            @media screen and (max-width:1050px){

                #navi{

                    margin:0 0 0 180px;

                }

                nav ul li{

                    margin-left:30px;
                    width:120px;
                    font-size:14pt;
                }

            }
            /* rwd 1050px end */

             /* rwd 650px str */

             @media screen and ( max-width:650px){

           

             #logo{

             width:150px;
             height:150px;
             margin:0 auto;
          
             margin-top:-20px;
             right:-75%;
             }

             #top-slider{

                top:20px;
                position: absolute;
             }

             #rwd-hamberger{
                
              display:block;
                         }


             #nav-background{

                height:100px;
             }

             #navi{

                display:none;
             }

             nav ul {

                width:110%;
                top:80px;
                position: absolute;
                left:-220px;
               


             }

             nav ul li{

                width:110%;
                height:40px;
                background:rgb(189, 11, 11);
                line-height: 40px;
                padding-left:8%;
               


             }

             nav ul li:hover{

                background: rgb(128, 7, 7);
             }

            
             nav ul li ul{
                 width:50%;
                height:40px;
                margin-left:115%;
                position:fixed;
                top:84px;

  

             }
              ul li ul li{
               background: rgb(68, 3, 3);
              
               line-height: 40px;
                height:40px;
                padding:0;
              
               
              
             }
             ul li ul li:hover{

                background: rgb(39, 3, 3);
             }

        
             

                            }




              /* rwd 600px end */