
@import url(//fonts.googleapis.com/earlyaccess/hannari.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);



/* 全體區塊str */
        *{

            margin:0;
            border:0;
            padding:0;
        }


        body{

        
            background:url(img/background01.png);
        }


        #one-third,#two-third,#third{

            width:650px;
            height:200px;
             margin:0 auto;
        }

        p{
            text-align: center;
            padding:3%;
           

    
        }



        h2{

            text-align: center;
            padding:3%;
         
            font-family: 'cwTeXHei', sans-serif;
            
   
        }

        img{

            border:10px solid #fff;
        }


/* 全體區塊end */




/* 主體區塊str */

  /* 作者簡介str */
    #top-pic{

        background: url(img/kitagawa/kitagawa-banner.png)center no-repeat;
        background-size:contain;
        height:450px;
        margin-top:200px;
        border:none;
    


    }

    #top-background{

        width:100%;
        height:850px;
        background:rgb(255, 255, 255);
        opacity:0.7;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;

    }

    .first-paragraph p{

    
        width:700px;;
        text-align:center;
        margin:0 auto;
        padding-top:50px;
        font-family: 'Hannari', serif;
    }



     /* 作者簡介end */

     /* 江戶年間三美人str */

        #one-third{


            margin-top:900px;

        }

        #one-third img{

            width:400px;
        
            margin:0 auto;
            margin-top:-900px;
          margin-left:120px;
            position: absolute;
            z-index:-1;
        }

      

     /* 江戶年間三美人end */

    /* 貧妓str */

        #two-third{


            margin-top:900px;
            margin-bottom:100px;

            }

            #two-third img{

            width:400px;
            margin:0 auto;
            margin-left:120px;
            margin-top:-850px;
            
            position: absolute;
           z-index:-1;
            }



    /* 貧妓end */

    /* 化妝str */

        #third{
            
            
            margin-top:900px;

            }

        #third img{

        width:400px;
        margin:0 auto;
        margin-left:120px;
        margin-top:-850px;
        
        position: absolute;
        z-index:-1;
                    }
        

     /* 化妝end */




/* 主體區塊end */



/* ------------------rwd-------------- */

/* ------------------rwd-------------- */


/* rwd 800px str */

@media screen and (max-width:800px){
    
    
      
    
        #top-background{
    
            min-width:600px;
        }
    
    
    
    
        .first-paragraph p {
    
            font-size:11pt;
            width:500px;
            margin-top:-50px;
    
    
        }
    
        #one-third img{
    
            margin:0 auto;
            max-width:350px;
            position: absolute;
            margin-top:-800px;
            margin-left:20%;
           
        }
    
        #one-third  h2{
    
            margin-top:-200px;
            margin-left:30%;
            position: absolute;
        }
    
        #one-third p{
    
            margin-top:-120px;
            width:500px;
            margin-left:5%;
           
            position: absolute;
            
        }
    
        #two-third img{
            
            margin:0 auto;
            max-width:350px;
            position: absolute;
            margin-top:-900px;
            margin-left:20%;
            
        }
    
        #two-third  h2{
            
            margin-top:-300px;
            margin-left:40%;
            position: absolute;
        }
    
        #two-third p{
    
            margin-top:-200px;
            margin-left:5%;
            width:500px;
            position: absolute;
            
        }
    
    
        #third img{
            
            margin:0 auto;
            max-width:350px;
            position: absolute;
            margin-top:-1000px;
            margin-left:20%;
            
        }
    
        #third  h2{
            
            margin-top:-390px;
            margin-left:40%;
            position: absolute;
        }
    
        #third p{
    
            margin-top:-280px;
            margin-left:5%;
            width:500px;
            position: absolute;
            
        }
    
    
    }
    
    
    /* rwd 650px str */
    
    
    @media screen and (max-width:650px){


        body{

            width:400px;
           
        }

        #top-background{

            width:100px;
        }

        #first-paragraph-p{
            
            width:300px;
            padding:0;
        }
                    
    
    
        #one-third img ,#two-third img, #third img{
              
            
                 max-width:250px;
                 margin-left:20%;
                border:5px solid #fff;
             
        
            }
    
            .first-paragraph p {
                
                        font-size:11pt;
                        width:370px;
                        margin-top:-70px;
                        margin-left:12%;
                
                
                    }
         
    
            #top-pic{
    
                max-width:400px;
                margin-left:10%;
            }
    
            
    
            #one-third p ,#two-third p, #third p{
    
                max-width:400px;
            }
    
            #one-third p{
    
                margin-top:-250px;
                width:350px;
               
            }
    
            #one-third h2{
    
                margin-top:-350px;
            margin-left:30%;
            }
    
    
    
            #two-third h2{
    
                margin-top:-400px;
                
                }
    
                #two-third img{
    
                    margin-top:-1000px;
                }
    
                #two-third  h2{
    
                    margin-top:-550px;
                }
    
                #two-third p{
    
                    margin-top:-450px;
                    width:350px;
    
    
                }
              
                #third img{
    
                    margin-top:-1300px;
                }
    
                #third h2{
    
                    margin-top:-880px; 
                }
    
                #third p{
    
                    margin-top:-800px; 
              
                  
    
    
                }
    
    
    
    
        }