@import url(//fonts.googleapis.com/earlyaccess/hannari.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);


/* 全體區塊str */




        *{

            margin:0;
            border:0;
            padding:0;
        }


        body{

        
            background:url(img/background01.png);
           
          
        }


        #one-third,#two-third,#third{

            width:650px;
            height:200px;
             margin:0 auto;
        }

       p{
            text-align: center;
            padding:3%;
            margin-left:40px;

    
        }



        h2{

            text-align: center;
            padding:3%;
            margin-left:40px;
            font-family: 'cwTeXHei', sans-serif;
            
   
        }

/* 全體區塊end */




/* 主體區塊str */

  /* 作者簡介str */
    #top-pic{

        background: url(img/katsushika/katsushika-banner.png)center no-repeat;
        background-size:contain;
        height:450px;
        margin-top:200px;
    


    }


    #rwd-hamberger{
        
                  width:40px;
                  height:40px;
                  position: fixed;
                  left:20px;
                  top:30px;
                  background:url(img/rwd-hamberger.png) ;
                  background-size:cover; 
                  display:none;
                 }

    #top-background{

        width:100%;
        height:850px;
        background:rgb(255, 255, 255);
        opacity:0.7;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;

    }


    .first-paragraph p{

    
        width:700px;;
        text-align:center;
        margin:0 auto;
        padding-top:50px;
        font-family: 'Hannari', serif;
    }

     /* 作者簡介end */

     /* 神奈川沖浪裏str */

        #one-third{


            margin-top:700px;

        }

        #one-third img{

            width:700px;
            margin:0 auto;
            margin-top:-730px;
            position: absolute;
            z-index:-1;
            border:10px solid #fff;
        }

      

     /* 神奈川沖浪裏end */

    /* 赤富士str */

        #two-third{


            margin-top:700px;

            }

            #two-third img{

            width:700px;
            margin:0 auto; 
            margin-top:-700px; 
            position: absolute;
           z-index:-1;
           border:10px solid #fff;
            }



    /* 赤富士end */

    /* 鷽與垂櫻  str */

        #third{
            
            
            margin-top:800px;
            margin-bottom:100px;

            }

            #third p , #third h2{

                margin-left:0px;
            }

        #third img{

        width:400px;
        margin:0 auto;
        margin-left:120px;
        margin-top:-800px;  
        position: absolute;
        z-index:-1;
        border:10px solid #fff;
      
                    }
        

        /* 鷽與垂櫻  end */




/* 主體區塊end */


/* ------------------rwd-------------- */

/* ------------------rwd-------------- */


/* rwd 800px str */

@media screen and (max-width:800px){
    
    
      
    
        #top-background{
    
            min-width:600px;
        }
    
    
    
    
        .first-paragraph p {
    
            font-size:11pt;
            width:500px;
            margin-top:-50px;
    
    
        }
    
        #one-third img{
    
            margin:0 auto;
            max-width:450px;
            position: absolute;
            margin-top:-600px;
            margin-left:15%;
           
        }
    
        #one-third  h2{
    
            margin-top:-200px;
            margin-left:35%;
            position: absolute;
        }
    
        #one-third p{
    
            margin-top:-120px;
            width:500px;
            margin-left:5%;
            position: absolute;
            
        }
    
        #two-third img{
            
            margin:0 auto;
            max-width:450px;
            position: absolute;
            margin-top:-800px;
            margin-left:15%;
        }
    
        #two-third  h2{
            
            margin-top:-400px;
            margin-left:32%;
            position: absolute;
        }
    
        #two-third p{
    
            margin-top:-300px;
            margin-left:5%;
            width:500px;
            position: absolute;
            
        }
    
    
        #third img{
            
            margin:0 auto;
            max-width:330px;
            position: absolute;
            margin-top:-1100px;
            margin-left:20%;
            
        }
    
        #third  h2{
            
            margin-top:-560px;
            margin-left:35%;
            position: absolute;
        }
    
        #third p{
    
            margin-top:-450px;
            margin-left:5%;
            width:500px;
            position: absolute;
            
        }
    
    
    }
    
    
    /* rwd 650px str */
    
    
    @media screen and (max-width:650px){


        body{

            width:400px;
      
           
        }

    

        #top-background{

            width:100px;
        }

        #first-paragraph-p{

            width:300px;
          padding:0;
        }
    
        #one-third img ,#two-third img, #third img{
              
            
                 max-width:250px;
                border:5px solid #fff;
             
        
            }
    
            .first-paragraph p {
                
                        font-size:11pt;
                        width:370px;
                        margin-top:-70px;
                        margin-left:12%;
                
                
                    }
         
    
            #top-pic{
    
                max-width:400px;
                margin-left:10%;
            }
    
            
    
            #one-third p ,#two-third p, #third p{
    
                max-width:400px;
            }
    
            #one-third p{
    
                margin-top:-250px;
                width:350px;
               
            }
    
            #one-third h2{
    
                margin-top:-350px;
          
            }
    
    
    
            #two-third h2{
    
                margin-top:-400px;
                
                }
    
                #two-third img{
    
                    margin-top:-900px;
                  
                }
    
                #two-third  h2{
    
                    margin-top:-650px;
                    margin-left:28%;
                }
    
                #two-third p{
    
                    margin-top:-550px;
                    width:350px;
    
    
                }
              
                #third img{
    
                    margin-top:-1300px;
                   
                }
    
                #third h2{
    
                    margin-top:-900px; 
                }
    
                #third p{
    
                    margin-top:-800px; 
                    width:350px;
              
                  
    
    
                }
    
    
    
    
        }